body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Noto Sans KR', serif;
  font-size: 20px;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  font-family: 'Shadows Into Light', sans-serif;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Oxygen', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Oxygen', sans-serif;
}

p{
  line-height: 2;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin:100px auto;
}

.top-container {
  background-color: #ecfcff;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

a{
  #11999E;
  font-family: 'Noto Sans KR', serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}

.pro {
  text-decoration: underline;
}

.intro{
  width: 30%;
  margin: auto;
}

.contact-message{
  width:40%;
  margin: 40px auto 60px;
}

.copyright{
 color: #EAF6F;
 font-size: 0.75rm;
 padding: 20px 0;  
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.IT-img{
  width: 25%;
  float:left;
  margin-right: 30px;
}

.Ecommerce-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
	background-color:#66BFBF;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Noto Sans KR;
	font-size:20px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:1px 2px 1px #283966;
}
.myButton:hover {
	background-color:#27f09f;
}
.myButton:active {
	position:relative;
	top:1px;
}
